
.gradient-left {
    
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  }
  
  .gradient-right {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  }

  .gradient-bottom {
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 0;
    width: 100%;	
    z-index: 1;
    pointer-events: none; 
  }

  .slider-container {
    position: relative;
    box-sizing: border-box;
    height: 362px;
    width: 100%;
    overflow: hidden;

  }
  
  .slick-slide {
    position: relative;
    border-radius: 8px;
    width: 180px;
    height: 172px;
    margin: 0 12px;

  } 
/*   .gradient-left, .gradient-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px; 
    z-index: 1;
    pointer-events: none; 
  } */